div.blogSummery{
background:yellow;
width:700px;
}
div.mainContent{
float:left;
width:700px;
}
div.sideContent{
float:left;
width:300px;
margin-left:50px;
}



/*Summery CSS*/
div.blogSummeryTitle{
background:green;
width:700px;
font-size:20px;
}
div.blogSummeryAuthor{
float:left;
background:blue;
font-size:18px;
}
div.blogSummeryTags{
background:red;
width:700px;
}
div.blogSummeryPost{
background:yellow;
width:700px;
}
div.blogSummeryCoverPic{
}
div.DisplaySummaryDate{
float:left;
background:pink;
}
div.blogSummeryNumLikes{
background:gray;
width:700px;
}
div.blogSummeryUrl{
background:white;
width:700px;
}
/*comments css */
div.DisplayCommentsUserName{
background:#CCFFCC;
}
div.DisplayCommentsDate{
background:#66FF66;
}
div.DisplayCommentsPost{
background:#CCFFCC;
}
/*blog css*/
div.blogTitle{
background:green;
width:700px;
font-size:20px;
}
div.blogAuthor{
float:left;
background:blue;
font-size:18px;
}
div.blogTags{
background:red;
width:700px;
}
div.blogPost{
background:yellow;
width:700px;
}
div.blogCoverPic{
width:700px;
}
div.blogDate{
float:left;
background:pink;
}
div.blogNumLikes{
background:gray;
width:700px;
}
div.blogPagination{
background:#FF9999;
}
div.topTags{
background:#00FF99;
float:right;
width:300px;
}

#tagLink{
position:relative;
float:left;
}
div.topAuthors{
background:#00FF99;
float:right;
width:300px;
height:200px;
}
#authorLink{
position:relative;
float:left;
}

#postInputMessage{
width:500px;
height:200px;
background:red;
}
